// Navigation code here
.navContainer {
    width: 100%;
    background: @wild-sand;
    color: @nav-font;
    border-bottom: 1px solid @nav-border;
    padding: 1% 0;
    .justify(center);

    .smallerNavContainer {

        .direction(column);
        padding: 0 3%;
        width: 75%;
    
        .textContainer {
            .justify(center);

            h1 {
                font-size:3.5rem;
            }
        }

        .linksContainer {
            .justify(center);
            width: 100%;

            .links {
                width: 40%;
                .justify(space-between);
                padding-top: 1.5%;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.6rem;
                }
            }
        }
    }
}

//************** MEDIA QUERIES *****************************////


@media @phone {
    .navContainer {
        .smallerNavContainer {
            .linksContainer{
                .links {
                    width: 100%;
                    padding-top: 5%;
                    padding-bottom: 2%;
                }
            }
        }
    }
        
}