// Navigation code here
.navContainer {
    width: 100%;
    background: @wild-sand;
    color: @nav-font;
    border-bottom: 1px solid @nav-border;
    padding: 1% 0;

        .smallerNavContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 3%;
        

            .textContainer {
                display: flex;
                justify-content: center;

                h1 {
                    font-size:3.5rem;
                }
            }

            .linksContainer {
                display: flex;
                justify-content: center;
                width: 100%

                @media @phone {
                    justify-content: center;
                }
        
                .links {
                    width: 80%;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 1.5%;

                    // @media @phone {
                    //     width: 100%;
                    // }

                        a {
                            text-decoration: none;
                            color: black;
                            font-size: 1.8rem;
                        }
                }
            }
        }
}